.settings-container {
  margin-top: 0.5rem; /* mt-2 */
}

.settings-section {
  margin-top: 2rem; /* mt-10 for subsequent sections */
}

.settings-section:first-child {
  margin-top: 0; /* remove top margin for the first section */
}

.settings-heading {
  font-weight: bold;
  font-size: 1rem; /* text-md */
  color: #f9fafb; /* light text */
}

.settings-list {
  font-size: 1rem;
  font-weight: 500;
  color: #d1d5db; /* light gray for better contrast */
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
